<div class="w-full ml-[1rem] pr-4 flex flex-col">
  <h2
    class="hero glitch layers justify-self-end"
    data-text="System requirements"
  >
    <span>System Requirements</span>
  </h2>

  <div *ngFor="let platforms of game.platforms.slice(0, 1)">
    <div
      *ngIf="platforms.platform.name === 'PC'; else anotherPlatform"
      class="grid grid-cols-2 gap-2"
    >
      <p class="text-left">
        {{ platforms.requirements.minimum }}
      </p>
      <p class="text-left">{{ platforms.requirements.recommended }}</p>
    </div>
  </div>
</div>

<ng-template #anotherPlatform>
  <p>There is no data about this game's system requirements</p>
</ng-template>
